= div_for product_image do
  = image_tag product_image.image.thumb('120x90').url if product_image.image_stored?
  = product_image.id
  = link_to 'Remove Photo', product_image, :method => :delete, :data => {:confirm => 'Are you sure?' }
